################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Charansinh.BookStore/.vs/Charansinh.BookStore
/Charansinh.BookStore/Charansinh.BookStore/bin/Debug/netcoreapp3.1
/Charansinh.BookStore/Charansinh.BookStore/obj
